<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Set</title>
    
    
    <!-- Favicon -->
    {% include "favicon_links.html" %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Include the navigation bar -->
    {% include 'navbar.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <div class="container mt-5">
        <h1>Update Set: {{ Brick_set.set_number }} (ID: {{ Brick_set.id }})</h1>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        <div>
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endwith %}

        <form method="post" action="{{ url_for('set_search.update_set', set_id=Brick_set.id) }}">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Part Number</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity Required</th>
                        <th>Quantity Owned</th>
                    </tr>
                </thead>
                <tbody>
                    {% for part in parts_info %}
                    <tr>
                        <td>{{ part.part_num }}</td>
                        <td>{{ part.name }}</td>
                        <td>{{ part.category }}</td>
                        <td>{{ part.quantity }}</td>
                        <td>
                            <input type="hidden" name="part_id" value="{{ part.id }}">
                            <input type="number" name="have_quantity" value="{{ part.have_quantity or 0 }}" class="form-control" min="0">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Update Set</button>
        </form>
    </div>
</body>
</html>